.img-responsive{
  width: 100%;
  max-width: 100%;
}

.left-bk{
  background-image: url('./assets/people.jpg');
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}